body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.nav-lists{
    display: flex;
    gap: 24px;
}
header{
    height: 572px;
}
.log-in-get-started{
    display: flex;
    gap: 24px;
    align-items: center;
}
.lists-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}
#ham-burger{
    display: none;
}
#h1{
    text-decoration: none;
    color: black;
}
.log-in{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #48B649;
}
.get-started{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    background: #48B649;
    padding: 14px 24px;
    border-radius: 22px;
    color: white;
}
.header-heading-info{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.header-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.04em;
}
.header-info{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #52525B;
    width: 100%;
    max-width: 842px;
    text-align: center;
    width: 100%;
    max-width: 743px;
}
span{
    color: black;
    font-style: italic;
    font-size: 24px;
    font-weight: 700px;
    line-height: 36px;
    letter-spacing: -1%;
}
.footer-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 48px;
    background-image: url("img/Frame\ 813054.png");
}
.all-footer-cards{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.card-1-heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}
.card-1-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}
.details-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
}
.details-p-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
    text-decoration: underline;
}
.details-p-number{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}
.card-footer-1{
    width: 214px;
}
.details-svg{
    display: flex;
    gap: 12px;
}
.footer-main-info{
    display: flex;
    gap: 20px;
}
.info-p{
    padding: 0px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-right: 1px solid black;
}
.info-p-map{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.powered-by{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #52525B;
}
.main-info-end{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    padding: 80px 189px;
    gap: 48px;
}
.footer-instructions{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
#info-p{
    text-decoration: none;
    color: black;
}
.instructions-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}
.instructions-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #52525B;
}
.span-number{
    text-decoration: underline;
}
.footer-copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #3F3F46;
}
.span-experience{
    color: #48B649;
}
footer{
    padding: 64px 0px;
}
hr{
    display: none;
}
@media only screen and (max-width: 600px){
    .about-us{
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .nav-lists{
        display: none;
    }
    .log-in-get-started{
        display: none;
    }
    .header-heading{
        font-size: 36px;
    }
    .header-info{
        font-size: 16px;
    }
    span{
        font-size: 16px;
    }
    .all-footer-cards{
        width: 100%;
        max-width: 375px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .footer-main-info{
        display: flex;
        flex-direction: column;
        
    }
    .info-p{
        border: transparent;
        text-align: center;
    }
    .info-p-map{
        border: transparent;
        text-align: center;
    }
    .footer-info{
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
    .footer-instructions{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .instructions-heading{
        width: 100%;
        max-width: 343px;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
    }
    #info-bar-code{
        display: flex;
        width: 100%;
        max-width: 100px;
    }
    .footer-copyright{
        width: 100%;
        max-width: 343px;
        font-size: 14px;
    }
    hr{
        width: 100%;
        display: flex;
        max-width: 14px;
        place-items: center;
        border: 0.2px solid;
        background: black;
    }
    .footer-main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #ham-burger{
        display: block;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .nav-lists{
        display: none;
    }
    .log-in-get-started{
        display: none;
    }
    #ham-burger{
        display: block;
    }
    .header-heading{
        font-size: 44px;
    }
    .header-info{
        width: 100%;
        max-width: 516px;
        font-size: 16px;
    }
    span{
        font-size: 16px;
    }
    .all-footer-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .instructions-heading{
        font-size: 24px;

    }
    .instructions-paragraph{
        font-size: 16px;
    }
    .footer-copyright{
        font-size: 14px;
    }
}


