body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#h1{
    text-decoration: none;
    color: black;
}
#h1-our-story{
    text-decoration: none;
    color: #48B649;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.our-story{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.nav-lists{
    display: flex;
    gap: 24px;
}
header{
    height: 572px;
}
.log-in-get-started{
    display: flex;
    gap: 24px;
    align-items: center;
}
.lists-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}
.lists-our-story{
    color: #48B649;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
.log-in{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #48B649;
}
.get-started{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    background: #48B649;
    padding: 14px 24px;
    border-radius: 22px;
    color: white;
}
.header-heading-info{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.header-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
}
.header-info{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #52525B;
    width: 100%;
    max-width: 842px;
    text-align: center;
}
.header-info-second{
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
}
.first-heading-paragraph{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
}
.first-paragraph{
    width: 100%;
    max-width: 843px;
}
.first-heading{
    width: 100%;
    max-width: 296px;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
}
.paragraph-one{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #52525B;
}
.paragraph-two{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #52525B;
    border-bottom: 1px solid #52525B;
    padding: 30px 0px;
}
.second-paragraph{
    width: 100%;
    display: flex;
    justify-content: end;
   
     
}
.paragraph{
    
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #52525B;
    letter-spacing: -0.01em;
    max-width: 843px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px 0px;
    border-bottom: 1px solid #52525B;
}
.third-paragraph-two{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #52525B;
    padding: 30px 0px;
}
.third-heading-paragraph{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    padding: 30px 0px;
}
.footer-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 48px;
    background-image: url("img/Frame\ 813054.png");
}
.all-footer-cards{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.card-1-heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}
.card-1-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}
.details-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
}
.details-p-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
    text-decoration: underline;
}
.details-p-number{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}
.card-footer-1{
    width: 214px;
}
.details-svg{
    display: flex;
    gap: 12px;
}
.footer-main-info{
    display: flex;
    gap: 20px;
}
.info-p{
    padding: 0px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-right: 1px solid black;
}
.info-p-map{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.powered-by{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #52525B;
}
.main-info-end{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    padding: 80px 189px;
    gap: 48px;
}
.footer-instructions{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.instructions-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}
.instructions-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #52525B;
}
.span-number{
    text-decoration: underline;
}
.footer-copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #3F3F46;
}
.span-experience{
    color: #48B649;
}
footer{
    padding: 64px 0px;
}


