body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#h1{
    text-decoration: none;
}
header{
    background: url("img/Rectangle\ 308.png");
    height: 572px;
}
.pricing-page{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
hr{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.nav-lists{
    display: flex;
    gap: 24px;
}
.log-in-get-started{
    display: flex;
    gap: 24px;
    align-items: center;
}
#h1{
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 100%;
}
#h1-pricing{
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 100%;
}
.log-in{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.get-started{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    background: #27272A;
    padding: 14px 24px;
    border-radius: 22px;
    color: white;
}
.header-heading-info{
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}
.header-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.04em;
}
.header-info{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    width: 534px;
    text-align: center;
}
.cards{
    /* position: absolute;
    top: 420px; */
    margin-top: -155px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.card-main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.card-1{
    border-radius: 9px;
    background: white;
    opacity: 0.8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: gr;
    width: 350px;
    height: 100%;
    max-height: 516px;
    min-height: 516px;
    box-shadow: 3px 3px 5px gray;
}
.card-heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%
}
.card-info{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #3F3F46;
}

.card-details{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.card-price{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
span.month{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
.details-info{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
#info-p{
    text-decoration: none;
    color: black;
}
.card-button{
    background: #48B649;
    border-radius: 20px;
    padding: 12px 20px;
    border: transparent;
    color: white;
}
.details-svg-info{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.card-button-two{
    border-radius: 20px;
    border: 1px solid #71717A;
    padding: 12px 20px;
    /* border: transparent; */
    color: #71717A;
}
.note{
    margin: 40px;
    /* width: 100%; */
    background: #FAFAFA;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.note-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}
.details{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #52525B;
}

.ask-questions-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.ask-questions-info{
    color: #52525B;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}
.user-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    gap: 32px;     
}
.info-question-svg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
    padding-bottom: 30px;
}
.info-question-svg-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.question-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52525B;
}
.info-question-svg-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid #EAECF0;
    padding-bottom: 30px;
}
.ask-questions-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    /* justify-content: center; */
    /* width: 100%;
    max-width: 768px; */
    
}
.info-question{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.ask-questions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 48px;
    background-image: url("img/Frame\ 813054.png");
}
.all-footer-cards{
    display: flex;
    gap: 32px;
    align-items: flex-start;
}
.card-1-heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}
.card-1-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}
.details-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
}
.details-p-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #3F3F46;
    text-decoration: underline;
}
.details-p-number{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}
.card-footer-1{
    width: 100%;
    max-width: 214px;
}
.details-svg{
    display: flex;
    gap: 12px;
}
.footer-main-info{
    display: flex;
    gap: 20px;
}
.info-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-right: 1px solid black;
}
.info-p-map{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}
.powered-by{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #52525B;
}
.main-info-end{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    padding: 80px 189px;
    gap: 48px;
}
.footer-instructions{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.instructions-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}
.instructions-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #52525B;
}
.span-number{
    text-decoration: underline;
}
.footer-copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #3F3F46;
}
.span-experience{
    color: #48B649;
}
footer{
    padding: 64px 0px;
}
#ham-burger{
    display: none;
}
@media only screen and (max-width: 600px){
    .nav-lists{
        display: none;
    }
    .log-in-get-started{
        display: none;
    }
    .header-heading{
        font-size: 36px;
    }
    .header-info{
        font-size: 16px;
        width: 100%;
        max-width: 343px;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card-1{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 32px;
    }
    .note-heading{
        font-size: 16px;
    }
    .details{
        font-size: 14px;
    }
    .ask-questions-heading{
        font-size: 28px;
    }
    .ask-questions-info{
        width: 100%;
        max-width: 343px;
        font-size: 16px;
    }
    .user-info{
        width: 100%;
        max-width: 343px;
    }
    .info-question{
        font-size: 16px;
    }
    .info-content{
        font-size: 14px;
    }
    .pricing-page{
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .all-footer-cards{
        width: 100%;
        max-width: 375px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .footer-main-info{
        display: flex;
        flex-direction: column;
        
    }
    .info-p{
        border: transparent;
        text-align: center;
    }
    .info-p-map{
        border: transparent;
        text-align: center;
    }
    .footer-info{
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
    .footer-instructions{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .instructions-heading{
        width: 100%;
        max-width: 343px;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
    }
    #info-bar-code{
        display: flex;
        width: 100%;
        max-width: 100px;
    }
    .footer-copyright{
        width: 100%;
        max-width: 343px;
        font-size: 14px;
    }
    hr{
        width: 100%;
        display: flex;
        max-width: 14px;
        place-items: center;
        border: 0.2px solid;
        background: black;
    }
    .footer-main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #ham-burger{
        display: block;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .nav-lists{
        display: none;
    }
    .log-in-get-started{
        display: none;
    }
    .header-heading{
        font-size: 44px;
    }
    #ham-burger{
        display: block;
    }
    .header-info{
        font-size: 16px;
        width: 100%;
        max-width: 343px;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card-1{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 32px;
    }
    .header-heading{
        font-size: 44px;
    }
    .header-info{
        font-size: 16px;
        width: 100%;
        max-width: 516px;
    }
    .note{
        width: 100%;
        max-width: 516px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: 200px; */
    }
    .ask-questions-heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .ask-questions-info{
        font-size: 16px;
        
    }
    .note-details{
        width: 100%;
        max-width: 516px;
    }
    .user-info{
        width: 100%;
        max-width: 516px;
        margin-left: auto;
        margin-right: auto;
    }
    .all-footer-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .instructions-heading{
        font-size: 24px;

    }
    .instructions-paragraph{
        font-size: 16px;
    }
    .footer-copyright{
        font-size: 14px;
    }
}
